<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{{ url_for('static', filename='songoftheday.css') }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<header>

  <h2>Song of the Day</h2>
  
</header>

<section>

  <nav>

    <h1>
      Navigation
    </h1>

    <ul>

      <li><button><a href="/" target="_blank">Home</a></button></li>
      <li><button><a href="/theleech" target="_blank">The Leech</a></button></li>
      <li><button><a href="/songoftheday">Song of the Day</a></button></li>
    </ul>

  </nav>
  
  <article>
    
    <h1>Die Hard by Marc E Bassy</h1>
    
    <img src="https://images.genius.com/649e2fb0ea7ea3e682ef7574e74d2528.1000x1000x1.jpg" alt="Die Hard by Marc E Bassy">
   
    <p>
      "Bassy has always been admired for the realness he embodies in his songs. 'Die Hard' is refreshing in the sense that it addresses honest feelings that we have probably all experienced. In the midst of a decaying relationship, the singer tries to set his issues aside in hopes of resolution. He admits that he doesn’t want to let his old habits control his life and desperately wants to commit to his love interest. He lays out his motives in the chorus, as he sings, 'If you still stick by me / We could find the right timing / Yeah, I’m gonna give you my heart / And let the old habits die hard.'
    </p>

    <p>
      Although themes of 'Die Hard' are focused around unsteady intimate relationships, Bassy takes metaphorical inspiration from the 1988 Bruce Willis blockbuster 'Die Hard.' The title of the single reflects aspects of the film, such as confronting one’s issues, embracing change and leaving what’s in the past behind. This adds a theatrical-yet-nostalgic dynamic to the new release and we can’t get enough!"
    </p>

    <p>
      -- Courtney Gould, Soundigest
    </p>
  </article>

</section>

<footer>

  <p>
    Copyright © 2022 Kevin Zhou. All Rights Reserved.
  </p>

</footer>

</body>
</html>
